<h1 class="text-center">トレーニングメニュー削除</h1>
<%= form_with(url: menus_destroy_path, method: :delete, local: true) do |f| %>
  <table align="center">
    <% @menus.each do |menu| %>
    <tr>
      <td><%= check_box_tag "deletes[]", menu.id %><%= menu.name %></td>
    </tr>
    <% end %>
  </table>
  <%= f.submit '選択項目を削除する', data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-primary col-lg-8 offset-lg-2' %>
<% end %>