<h1>トレーニングメニュー作成</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @menu, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, 'メニュー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <%= f.submit '次へ', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>