<div class="text-center">
  <h1 class="mb-6">メインメニュー</h1>
</div>
<div class="row">
  <div class="offset-lg-3 col-lg-6">
    <a href="/menus" class="btn btn-primary col-lg-8 offset-lg-2 mb-2">トレーニングメニュー一覧</a>
    <a href="/menus/new" class="btn btn-primary col-lg-8 offset-lg-2 mb-2">トレーニングメニュー作成</a>
    <a href="/menus/delete" class="btn btn-primary col-lg-8 offset-lg-2 mb-2">トレーニングメニュー削除</a><br>
    <a href="/users/show" class="btn btn-primary col-lg-8 offset-lg-2 mb-2">アカウント情報</a><br>
    <a href="/helps/index" class="btn btn-primary col-lg-8 offset-lg-2 mb-2">ヘルプ／Ｑ＆Ａ</a>
  </div>
</div>
